# The goal of this file is to pre-process and merge two different datasets

In [576]:
#Imports
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np

# Prepare 1st dataset

In [577]:
#Read 1st dataset
MOVIE_METRICS = 'movie_metadata.csv'
movieMetrics = pd.read_csv(MOVIE_METRICS, header = 0)

In [578]:
#Drop some unnecessary columns and drop columns that are already in the 2nd dataset
columnsToRemove = ['color', 'budget', 'title_year', 'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link', 
                   'gross', 'country', 'num_voted_users']
movieMetrics.drop(columnsToRemove, axis=1, inplace=True)

In [579]:
#Print out all the columns
for col in movieMetrics.columns: 
    print(col)

director_name
num_critic_for_reviews
duration
director_facebook_likes
actor_3_facebook_likes
actor_2_name
actor_1_facebook_likes
genres
actor_1_name
movie_title
cast_total_facebook_likes
actor_3_name
num_user_for_reviews
language
content_rating
actor_2_facebook_likes
imdb_score
aspect_ratio
movie_facebook_likes

In [580]:
#Rename some of the columns for better wording
movieMetrics = movieMetrics.rename(columns={
    'director_name' : 'Director',
    'num_critic_for_reviews' : 'Critic Review Count',
    'duration': 'Duration',
    'director_facebook_likes': 'Director Facebook Likes',
    'actor_3_facebook_likes': 'Actor 3 Facebook Likes',
    'actor_2_name': 'Actor 2',
    'genres': 'Genre',
    'actor_1_name': 'Actor 1',
    'movie_title': 'Movie_Title',
    'cast_total_facebook_likes': 'Cast Facebook Likes',
    'actor_3_name': 'Actor 3',
    'language': 'Language',
    'content_rating': 'Content Rating',
    'actor_2_facebook_likes': 'Actor 2 Facebook Likes',
    'imdb_score': 'IMDB Score',
    'aspect_ratio': 'Aspect Ratio',
    'movie_facebook_likes': 'Movie Facebook Likes',
    'actor_1_facebook_likes': 'Actor 1 Facebook Likes',
    'num_user_for_reviews': 'Review Count'
})
movieMetrics.head()

,Director,Critic Review Count,Duration,Director Facebook Likes,Actor 3 Facebook Likes,Actor 2,Actor 1 Facebook Likes,Genre,Actor 1,Movie_Title,Cast Facebook Likes,Actor 3,Review Count,Language,Content Rating,Actor 2 Facebook Likes,IMDB Score,Aspect Ratio,Movie Facebook Likes
0,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,4834,Wes Studi,3054.0,English,PG-13,936.0,7.9,1.78,33000
1,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,48350,Jack Davenport,1238.0,English,PG-13,5000.0,7.1,2.35,0
2,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,11700,Stephanie Sigman,994.0,English,PG-13,393.0,6.8,2.35,85000
3,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,106759,Joseph Gordon-Levitt,2701.0,English,PG-13,23000.0,8.5,2.35,164000
4,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,143,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [581]:
movieMetrics.shape

(5043, 19)

In [582]:
movieMetrics.head()

,Director,Critic Review Count,Duration,Director Facebook Likes,Actor 3 Facebook Likes,Actor 2,Actor 1 Facebook Likes,Genre,Actor 1,Movie_Title,Cast Facebook Likes,Actor 3,Review Count,Language,Content Rating,Actor 2 Facebook Likes,IMDB Score,Aspect Ratio,Movie Facebook Likes
0,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,4834,Wes Studi,3054.0,English,PG-13,936.0,7.9,1.78,33000
1,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,48350,Jack Davenport,1238.0,English,PG-13,5000.0,7.1,2.35,0
2,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,11700,Stephanie Sigman,994.0,English,PG-13,393.0,6.8,2.35,85000
3,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,106759,Joseph Gordon-Levitt,2701.0,English,PG-13,23000.0,8.5,2.35,164000
4,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,143,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

# Prepare 2nd dataset

In [583]:
#Read 2nd dataset
TMDB_MOVIES = 'tmdb_5000_movies.csv'
TMDBMovies = pd.read_csv(TMDB_MOVIES, header = 0)
TMDBMovies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [584]:
TMDBMovies.shape

(4803, 20)

In [585]:
#Drop some unnecessary columns and drop columns that are already in the 1st dataset
columnsToRemoveFromTMDBMovies = ['genres', 'homepage', 'id', 'keywords', 'original_language', 'overview', 'runtime', 'spoken_languages', 
                   'status', 'tagline', 'original_title']
TMDBMovies.drop(columnsToRemoveFromTMDBMovies, axis=1, inplace=True)

In [586]:
TMDBMovies.head()

,budget,popularity,production_companies,production_countries,release_date,revenue,title,vote_average,vote_count
0,237000000,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,Avatar,7.2,11800
1,300000000,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,Spectre,6.3,4466
3,250000000,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,The Dark Knight Rises,7.6,9106
4,260000000,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,John Carter,6.1,2124

In [587]:
#Print out all the columns
for col in TMDBMovies.columns: 
    print(col)

budget
popularity
production_companies
production_countries
release_date
revenue
title
vote_average
vote_count

In [588]:
#Rename some of the columns for better wording
TMDBMovies = TMDBMovies.rename(columns={
    'budget' : 'Budget',
    'popularity' : 'TMDB Popularity',
    'production_companies': 'Production_Companies',
    'production_countries': 'Production_Countries',
    'release_date': 'Release Date',
    'revenue': 'Revenue',
    'title': 'Movie_Title',
    'vote_average': 'TMDB User Ratings',
    'vote_count': 'TMDB User Votes'
})
TMDBMovies.head()

,Budget,TMDB Popularity,Production_Companies,Production_Countries,Release Date,Revenue,Movie_Title,TMDB User Ratings,TMDB User Votes
0,237000000,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,Avatar,7.2,11800
1,300000000,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,Spectre,6.3,4466
3,250000000,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,The Dark Knight Rises,7.6,9106
4,260000000,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,John Carter,6.1,2124

In [589]:
#Extract production companies and countries from JSON object
for field in ['Production_Companies', 'Production_Countries']:
        TMDBMovies[field] = TMDBMovies[field].apply(lambda data: [row['name'] for row in json.loads(data)])

In [590]:
TMDBMovies.head()

,Budget,TMDB Popularity,Production_Companies,Production_Countries,Release Date,Revenue,Movie_Title,TMDB User Ratings,TMDB User Votes
0,237000000,150.437577,"[Ingenious Film Partners, Twentieth Century Fo...","[United States of America, United Kingdom]",2009-12-10,2787965087,Avatar,7.2,11800
1,300000000,139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",[United States of America],2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,107.376788,"[Columbia Pictures, Danjaq, B24]","[United Kingdom, United States of America]",2015-10-26,880674609,Spectre,6.3,4466
3,250000000,112.312950,"[Legendary Pictures, Warner Bros., DC Entertai...",[United States of America],2012-07-16,1084939099,The Dark Knight Rises,7.6,9106
4,260000000,43.926995,[Walt Disney Pictures],[United States of America],2012-03-07,284139100,John Carter,6.1,2124

In [591]:
#First merge the two dataset and then split genres, production_Companies and production_countries.

In [592]:
#1st dataset
print('1st dataset shape: ', movieMetrics.shape)
#2nd dataset
print('2nd dataset shape: ', TMDBMovies.shape)

1st dataset shape:  (5043, 19)
2nd dataset shape:  (4803, 9)

In [593]:
#Make sure both columns have same type
movieMetrics['Movie_Title'] = movieMetrics['Movie_Title'].astype(str)
print(movieMetrics['Movie_Title'].dtypes)
movieMetrics.Movie_Title = movieMetrics.Movie_Title.str.strip()

TMDBMovies['Movie_Title'] = TMDBMovies['Movie_Title'].astype(str)
print(TMDBMovies['Movie_Title'].dtypes)
TMDBMovies.Movie_Title = TMDBMovies.Movie_Title.str.strip()

object
object

In [594]:
#Left join on moviemetrics
finalMovieDataset = movieMetrics.merge(TMDBMovies, how="left")
finalMovieDataset.head()

,Director,Critic Review Count,Duration,Director Facebook Likes,Actor 3 Facebook Likes,Actor 2,Actor 1 Facebook Likes,Genre,Actor 1,Movie_Title,...,Aspect Ratio,Movie Facebook Likes,Budget,TMDB Popularity,Production_Companies,Production_Countries,Release Date,Revenue,TMDB User Ratings,TMDB User Votes
0,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,...,1.78,33000,237000000.0,150.437577,"[Ingenious Film Partners, Twentieth Century Fo...","[United States of America, United Kingdom]",2009-12-10,2.787965e+09,7.2,11800.0
1,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,...,2.35,0,300000000.0,139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",[United States of America],2007-05-19,9.610000e+08,6.9,4500.0
2,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,...,2.35,85000,245000000.0,107.376788,"[Columbia Pictures, Danjaq, B24]","[United Kingdom, United States of America]",2015-10-26,8.806746e+08,6.3,4466.0
3,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,...,2.35,164000,250000000.0,112.312950,"[Legendary Pictures, Warner Bros., DC Entertai...",[United States of America],2012-07-16,1.084939e+09,7.6,9106.0
4,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [595]:
#Check to see if merge happened by randomly picking 2 rows
finalMovieDataset.take(np.random.permutation(len(finalMovieDataset))[:2])

,Director,Critic Review Count,Duration,Director Facebook Likes,Actor 3 Facebook Likes,Actor 2,Actor 1 Facebook Likes,Genre,Actor 1,Movie_Title,...,Aspect Ratio,Movie Facebook Likes,Budget,TMDB Popularity,Production_Companies,Production_Countries,Release Date,Revenue,TMDB User Ratings,TMDB User Votes
13,Gore Verbinski,313.0,151.0,563.0,1000.0,Orlando Bloom,40000.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: Dead Man's Chest,...,2.35,5000,200000000.0,145.847379,"[Walt Disney Pictures, Jerry Bruckheimer Films...","[Jamaica, United States of America, Bahamas, D...",2006-06-20,1.065660e+09,7.0,5246.0
2566,Peter Kosminsky,103.0,109.0,7.0,450.0,Cole Hauser,835.0,Drama,Patrick Fugit,White Oleander,...,1.85,0,0.0,9.423866,"[Pandora Filmproduktion, John Wells Production...","[Germany, United States of America]",2002-10-11,0.000000e+00,7.2,108.0

In [596]:
#Print all columns
for col in finalMovieDataset.columns: 
    print(col)

Director
Critic Review Count
Duration
Director Facebook Likes
Actor 3 Facebook Likes
Actor 2
Actor 1 Facebook Likes
Genre
Actor 1
Movie_Title
Cast Facebook Likes
Actor 3
Review Count
Language
Content Rating
Actor 2 Facebook Likes
IMDB Score
Aspect Ratio
Movie Facebook Likes
Budget
TMDB Popularity
Production_Companies
Production_Countries
Release Date
Revenue
TMDB User Ratings
TMDB User Votes

In [597]:
#Rename movie title column
finalMovieDataset = finalMovieDataset.rename(columns={
    'Movie_Title' : 'Movie Title'
})
finalMovieDataset.head()

,Director,Critic Review Count,Duration,Director Facebook Likes,Actor 3 Facebook Likes,Actor 2,Actor 1 Facebook Likes,Genre,Actor 1,Movie Title,...,Aspect Ratio,Movie Facebook Likes,Budget,TMDB Popularity,Production_Companies,Production_Countries,Release Date,Revenue,TMDB User Ratings,TMDB User Votes
0,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,...,1.78,33000,237000000.0,150.437577,"[Ingenious Film Partners, Twentieth Century Fo...","[United States of America, United Kingdom]",2009-12-10,2.787965e+09,7.2,11800.0
1,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,...,2.35,0,300000000.0,139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",[United States of America],2007-05-19,9.610000e+08,6.9,4500.0
2,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,...,2.35,85000,245000000.0,107.376788,"[Columbia Pictures, Danjaq, B24]","[United Kingdom, United States of America]",2015-10-26,8.806746e+08,6.3,4466.0
3,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,...,2.35,164000,250000000.0,112.312950,"[Legendary Pictures, Warner Bros., DC Entertai...",[United States of America],2012-07-16,1.084939e+09,7.6,9106.0
4,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [598]:
cols = finalMovieDataset.columns.tolist()
cols

['Director',
 'Critic Review Count',
 'Duration',
 'Director Facebook Likes',
 'Actor 3 Facebook Likes',
 'Actor 2',
 'Actor 1 Facebook Likes',
 'Genre',
 'Actor 1',
 'Movie Title',
 'Cast Facebook Likes',
 'Actor 3',
 'Review Count',
 'Language',
 'Content Rating',
 'Actor 2 Facebook Likes',
 'IMDB Score',
 'Aspect Ratio',
 'Movie Facebook Likes',
 'Budget',
 'TMDB Popularity',
 'Production_Companies',
 'Production_Countries',
 'Release Date',
 'Revenue',
 'TMDB User Ratings',
 'TMDB User Votes']

In [599]:
#Reorder the dataframe
finalMovieDataset = finalMovieDataset[['Movie Title', 'Genre', 'Language', 'Budget', 'Revenue', 'Duration',
                                       'Content Rating', 'Aspect Ratio', 'Release Date', 'IMDB Score', 'Review Count',
                                       'Critic Review Count', 'Production_Companies', 'Production_Countries', 'TMDB Popularity',
                                       'TMDB User Ratings', 'TMDB User Votes','Director', 'Director Facebook Likes', 'Actor 1',
                                      'Actor 1 Facebook Likes', 'Actor 2', 'Actor 2 Facebook Likes', 'Actor 3', 'Actor 3 Facebook Likes',
                                      'Movie Facebook Likes', 'Cast Facebook Likes']]
finalMovieDataset.head()

,Movie Title,Genre,Language,Budget,Revenue,Duration,Content Rating,Aspect Ratio,Release Date,IMDB Score,...,Director,Director Facebook Likes,Actor 1,Actor 1 Facebook Likes,Actor 2,Actor 2 Facebook Likes,Actor 3,Actor 3 Facebook Likes,Movie Facebook Likes,Cast Facebook Likes
0,Avatar,Action|Adventure|Fantasy|Sci-Fi,English,237000000.0,2.787965e+09,178.0,PG-13,1.78,2009-12-10,7.9,...,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,33000,4834
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,English,300000000.0,9.610000e+08,169.0,PG-13,2.35,2007-05-19,7.1,...,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,0,48350
2,Spectre,Action|Adventure|Thriller,English,245000000.0,8.806746e+08,148.0,PG-13,2.35,2015-10-26,6.8,...,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,Stephanie Sigman,161.0,85000,11700
3,The Dark Knight Rises,Action|Thriller,English,250000000.0,1.084939e+09,164.0,PG-13,2.35,2012-07-16,8.5,...,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,Joseph Gordon-Levitt,23000.0,164000,106759
4,Star Wars: Episode VII - The Force Awakens,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1,...,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,NaN,NaN,0,143

In [600]:
finalMovieDataset['Production_Companies'] = [[] if x is np.NaN else x for x in finalMovieDataset['Production_Companies']]
#Find out the largest possible range of Production companies movies can have
count = 0
distinctCounts = list()
for item in finalMovieDataset['Production_Companies']:
    if (len(item) > count):
        distinctCounts.append(len(item))
        count = len(item)
print(count)

26

In [601]:
#^Wow!

In [602]:
#Generate production column names
productionCompaniesCols = list()
i = 1  
while i <= count:
    productionCompaniesCols.append('Production Company ' + str(i))
    i += 1  
productionCompaniesCols

['Production Company 1',
 'Production Company 2',
 'Production Company 3',
 'Production Company 4',
 'Production Company 5',
 'Production Company 6',
 'Production Company 7',
 'Production Company 8',
 'Production Company 9',
 'Production Company 10',
 'Production Company 11',
 'Production Company 12',
 'Production Company 13',
 'Production Company 14',
 'Production Company 15',
 'Production Company 16',
 'Production Company 17',
 'Production Company 18',
 'Production Company 19',
 'Production Company 20',
 'Production Company 21',
 'Production Company 22',
 'Production Company 23',
 'Production Company 24',
 'Production Company 25',
 'Production Company 26']

In [603]:
#Add all the production companies to the final dataframe and delete Production_Companies column
finalMovieDataset[productionCompaniesCols] = pd.DataFrame(finalMovieDataset.Production_Companies.tolist(), index= finalMovieDataset.index)
finalMovieDataset.drop(['Production_Companies'], axis=1, inplace=True)
finalMovieDataset

,Movie Title,Genre,Language,Budget,Revenue,Duration,Content Rating,Aspect Ratio,Release Date,IMDB Score,...,Production Company 17,Production Company 18,Production Company 19,Production Company 20,Production Company 21,Production Company 22,Production Company 23,Production Company 24,Production Company 25,Production Company 26
0,Avatar,Action|Adventure|Fantasy|Sci-Fi,English,237000000.0,2.787965e+09,178.0,PG-13,1.78,2009-12-10,7.9,...,None,None,None,None,None,None,None,None,None,None
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,English,300000000.0,9.610000e+08,169.0,PG-13,2.35,2007-05-19,7.1,...,None,None,None,None,None,None,None,None,None,None
2,Spectre,Action|Adventure|Thriller,English,245000000.0,8.806746e+08,148.0,PG-13,2.35,2015-10-26,6.8,...,None,None,None,None,None,None,None,None,None,None
3,The Dark Knight Rises,Action|Thriller,English,250000000.0,1.084939e+09,164.0,PG-13,2.35,2012-07-16,8.5,...,None,None,None,None,None,None,None,None,None,None
4,Star Wars: Episode VII - The Force Awakens,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5043,Signed Sealed Delivered,Comedy|Drama,English,NaN,NaN,87.0,NaN,NaN,NaN,7.7,...,None,None,None,None,None,None,None,None,None,None
5044,The Following,Crime|Drama|Mystery|Thriller,English,NaN,NaN,43.0,TV-14,16.00,NaN,7.5,...,None,None,None,None,None,None,None,None,None,None
5045,A Plague So Pleasant,Drama|Horror|Thriller,English,NaN,NaN,76.0,NaN,NaN,NaN,6.3,...,None,None,None,None,None,None,None,None,None,None
5046,Shanghai Calling,Comedy|Drama|Romance,English,0.0,0.000000e+00,100.0,PG-13,2.35,2012-05-03,6.3,...,None,None,None,None,None,None,None,None,None,None
5047,My Date with Drew,Documentary,English,0.0,0.000000e+00,90.0,PG,1.85,2005-08-05,6.6,...,None,None,None,None,None,None,None,None,None,None

In [604]:
finalMovieDataset.columns.tolist()

['Movie Title',
 'Genre',
 'Language',
 'Budget',
 'Revenue',
 'Duration',
 'Content Rating',
 'Aspect Ratio',
 'Release Date',
 'IMDB Score',
 'Review Count',
 'Critic Review Count',
 'Production_Countries',
 'TMDB Popularity',
 'TMDB User Ratings',
 'TMDB User Votes',
 'Director',
 'Director Facebook Likes',
 'Actor 1',
 'Actor 1 Facebook Likes',
 'Actor 2',
 'Actor 2 Facebook Likes',
 'Actor 3',
 'Actor 3 Facebook Likes',
 'Movie Facebook Likes',
 'Cast Facebook Likes',
 'Production Company 1',
 'Production Company 2',
 'Production Company 3',
 'Production Company 4',
 'Production Company 5',
 'Production Company 6',
 'Production Company 7',
 'Production Company 8',
 'Production Company 9',
 'Production Company 10',
 'Production Company 11',
 'Production Company 12',
 'Production Company 13',
 'Production Company 14',
 'Production Company 15',
 'Production Company 16',
 'Production Company 17',
 'Production Company 18',
 'Production Company 19',
 'Production Company 20',
 'Production Company 21',
 'Production Company 22',
 'Production Company 23',
 'Production Company 24',
 'Production Company 25',
 'Production Company 26']

In [605]:
finalMovieDataset['Production_Countries'] = [[] if x is np.NaN else x for x in finalMovieDataset['Production_Countries']]
#Find out the largest possible range of Production countries movies can have
count = 0
for item in finalMovieDataset['Production_Countries']:
    if (len(item) > count):
        count = len(item)
print(count)

12

In [606]:
#Generate production country column header
productionCountriesCols = list()
i = 1  
while i <= count:
    productionCountriesCols.append('Production Country ' + str(i))
    i += 1  
productionCountriesCols

['Production Country 1',
 'Production Country 2',
 'Production Country 3',
 'Production Country 4',
 'Production Country 5',
 'Production Country 6',
 'Production Country 7',
 'Production Country 8',
 'Production Country 9',
 'Production Country 10',
 'Production Country 11',
 'Production Country 12']

In [607]:
#Add all the production countries into the final dataframe and delete Production_Countries
finalMovieDataset[productionCountriesCols] = pd.DataFrame(finalMovieDataset.Production_Countries.tolist(), index= finalMovieDataset.index)
finalMovieDataset.drop(['Production_Countries'], axis=1, inplace=True)
finalMovieDataset

,Movie Title,Genre,Language,Budget,Revenue,Duration,Content Rating,Aspect Ratio,Release Date,IMDB Score,...,Production Country 3,Production Country 4,Production Country 5,Production Country 6,Production Country 7,Production Country 8,Production Country 9,Production Country 10,Production Country 11,Production Country 12
0,Avatar,Action|Adventure|Fantasy|Sci-Fi,English,237000000.0,2.787965e+09,178.0,PG-13,1.78,2009-12-10,7.9,...,None,None,None,None,None,None,None,None,None,None
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,English,300000000.0,9.610000e+08,169.0,PG-13,2.35,2007-05-19,7.1,...,None,None,None,None,None,None,None,None,None,None
2,Spectre,Action|Adventure|Thriller,English,245000000.0,8.806746e+08,148.0,PG-13,2.35,2015-10-26,6.8,...,None,None,None,None,None,None,None,None,None,None
3,The Dark Knight Rises,Action|Thriller,English,250000000.0,1.084939e+09,164.0,PG-13,2.35,2012-07-16,8.5,...,None,None,None,None,None,None,None,None,None,None
4,Star Wars: Episode VII - The Force Awakens,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5043,Signed Sealed Delivered,Comedy|Drama,English,NaN,NaN,87.0,NaN,NaN,NaN,7.7,...,None,None,None,None,None,None,None,None,None,None
5044,The Following,Crime|Drama|Mystery|Thriller,English,NaN,NaN,43.0,TV-14,16.00,NaN,7.5,...,None,None,None,None,None,None,None,None,None,None
5045,A Plague So Pleasant,Drama|Horror|Thriller,English,NaN,NaN,76.0,NaN,NaN,NaN,6.3,...,None,None,None,None,None,None,None,None,None,None
5046,Shanghai Calling,Comedy|Drama|Romance,English,0.0,0.000000e+00,100.0,PG-13,2.35,2012-05-03,6.3,...,None,None,None,None,None,None,None,None,None,None
5047,My Date with Drew,Documentary,English,0.0,0.000000e+00,90.0,PG,1.85,2005-08-05,6.6,...,None,None,None,None,None,None,None,None,None,None

In [608]:
#Find out the largest possible genre
count = 0
for item in finalMovieDataset['Genre']:
    splitCount = len(item.split('|'))
    if(splitCount > count):
        count = splitCount
print(count)

8

In [609]:
#Split the genre into seperate columns
finalMovieDataset[['Genre 1', 'Genre 2', 'Genre 3', 'Genre 4',
             'Genre 5', 'Genre 6', 'Genre 7', 'Genre 8']] = finalMovieDataset.Genre.str.split("|",expand=True) 
finalMovieDataset.drop(['Genre'], axis=1, inplace=True)
finalMovieDataset

,Movie Title,Language,Budget,Revenue,Duration,Content Rating,Aspect Ratio,Release Date,IMDB Score,Review Count,...,Production Country 11,Production Country 12,Genre 1,Genre 2,Genre 3,Genre 4,Genre 5,Genre 6,Genre 7,Genre 8
0,Avatar,English,237000000.0,2.787965e+09,178.0,PG-13,1.78,2009-12-10,7.9,3054.0,...,None,None,Action,Adventure,Fantasy,Sci-Fi,None,None,None,None
1,Pirates of the Caribbean: At World's End,English,300000000.0,9.610000e+08,169.0,PG-13,2.35,2007-05-19,7.1,1238.0,...,None,None,Action,Adventure,Fantasy,None,None,None,None,None
2,Spectre,English,245000000.0,8.806746e+08,148.0,PG-13,2.35,2015-10-26,6.8,994.0,...,None,None,Action,Adventure,Thriller,None,None,None,None,None
3,The Dark Knight Rises,English,250000000.0,1.084939e+09,164.0,PG-13,2.35,2012-07-16,8.5,2701.0,...,None,None,Action,Thriller,None,None,None,None,None,None
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1,NaN,...,None,None,Documentary,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5043,Signed Sealed Delivered,English,NaN,NaN,87.0,NaN,NaN,NaN,7.7,6.0,...,None,None,Comedy,Drama,None,None,None,None,None,None
5044,The Following,English,NaN,NaN,43.0,TV-14,16.00,NaN,7.5,359.0,...,None,None,Crime,Drama,Mystery,Thriller,None,None,None,None
5045,A Plague So Pleasant,English,NaN,NaN,76.0,NaN,NaN,NaN,6.3,3.0,...,None,None,Drama,Horror,Thriller,None,None,None,None,None
5046,Shanghai Calling,English,0.0,0.000000e+00,100.0,PG-13,2.35,2012-05-03,6.3,9.0,...,None,None,Comedy,Drama,Romance,None,None,None,None,None
5047,My Date with Drew,English,0.0,0.000000e+00,90.0,PG,1.85,2005-08-05,6.6,84.0,...,None,None,Documentary,None,None,None,None,None,None,None

In [610]:
#Final Dataframe
finalMovieDataset.columns.tolist()

['Movie Title',
 'Language',
 'Budget',
 'Revenue',
 'Duration',
 'Content Rating',
 'Aspect Ratio',
 'Release Date',
 'IMDB Score',
 'Review Count',
 'Critic Review Count',
 'TMDB Popularity',
 'TMDB User Ratings',
 'TMDB User Votes',
 'Director',
 'Director Facebook Likes',
 'Actor 1',
 'Actor 1 Facebook Likes',
 'Actor 2',
 'Actor 2 Facebook Likes',
 'Actor 3',
 'Actor 3 Facebook Likes',
 'Movie Facebook Likes',
 'Cast Facebook Likes',
 'Production Company 1',
 'Production Company 2',
 'Production Company 3',
 'Production Company 4',
 'Production Company 5',
 'Production Company 6',
 'Production Company 7',
 'Production Company 8',
 'Production Company 9',
 'Production Company 10',
 'Production Company 11',
 'Production Company 12',
 'Production Company 13',
 'Production Company 14',
 'Production Company 15',
 'Production Company 16',
 'Production Company 17',
 'Production Company 18',
 'Production Company 19',
 'Production Company 20',
 'Production Company 21',
 'Production Company 22',
 'Production Company 23',
 'Production Company 24',
 'Production Company 25',
 'Production Company 26',
 'Production Country 1',
 'Production Country 2',
 'Production Country 3',
 'Production Country 4',
 'Production Country 5',
 'Production Country 6',
 'Production Country 7',
 'Production Country 8',
 'Production Country 9',
 'Production Country 10',
 'Production Country 11',
 'Production Country 12',
 'Genre 1',
 'Genre 2',
 'Genre 3',
 'Genre 4',
 'Genre 5',
 'Genre 6',
 'Genre 7',
 'Genre 8']

In [611]:
finalMovieDataset.to_excel("finalMovieDataset.xlsx", index = False);

In [613]:
#Pretty sure we wont need most of these columns but those can be filtered out in Tableau